<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>ホーム</title>
</head>
<body>
	<form action="/logout" method="POST">
		<input type="submit" value="ログアウト" />
	</form>
	<p>ホームだよ</p>
</body>
</html>
