<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>ユーザ検索</title>
</head>
<body>
	<a href="/timeline">タイムラインへ戻る</a>
	<table id="users">
		{{range .Followers}}
			<tr>
				<td>{{.Name}}</td>
				{{if .Following}}
					<td>
						<form action="/unfollow" method="POST">
							<input type="hidden" name="unfollow_user_id" value="{{.FollowerID}}">
							<input type="submit" value="Unfollowする">
						</form>
					</td>
				{{else}}
					<td>
						<form action="/follow" method="POST">
							<input type="hidden" name="follow_user_id" value="{{.FollowerID}}">
							<input type="submit" value="Followする">
						</form>
					</td>
				{{end}}
			</tr>
		{{end}}
	</table>
</body>
</html>
